on:
  workflow_dispatch:
name: Build Flatpak Artifact
jobs:
  flatpak:
    name: Flatpak
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-48
      options: --privileged
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: com.core447.StreamController.flatpak
          manifest-path: com.core447.StreamController.yml
          cache-key: flatpak-builder-${{ github.sha }}